{% extends "layout.html" %} {% load i18n %} {% block extrastylesheet%}
<link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/code.css?ver=1.1.1" rel="stylesheet" />
{% endblock%} {% block extrascript%}
<script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0"></script>
<script src="{{ STATIC_URL }}js/terminal-paypal.js?ver=1.1.0"></script>
{% endblock%} {% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <p>
              Publishment application on Google play often require many process so that developers sepnd time reading documents. From my experiences, no matter which teachnoligies using, publishment always has general workflow.
            </p>
            <br />

            <p>
                To begin with, when working on local, coder often build file debug Apk with default key and debug flag enabled. However, publishing on Google play need release Apk or bundle file with specific key known as keystore.
            </p>
            <img src="{{ STATIC_URL }}images/keystore.png" alt="Image" style="max-width: 750px;max-height: 600px;"/>
            <br />
            <br />

            <p>
              Developers create upload key (keystore) by themself, sometime create by Android studio or ternimal. Keyalias, key store password and key password need to store to deploy on Google next time.
            </p>
            <img src="{{ STATIC_URL }}images/newkey.png" alt="Image" style="max-width: 750px;max-height: 600px;"/>
            <br />
            <br />
            <p>
              Expo store Key and password in expo.dev
            </p>
            <img src="{{ STATIC_URL }}images/keystore-expo.png" alt="Image" style="max-width: 750px;max-height: 600px;"/>
            <br />
            <p>
              React navtive usually declare Key and password in android/gradle.properties
            </p>
            <img src="{{ STATIC_URL }}images/keystore-native.jpeg" alt="Image" style="max-width: 750px;max-height: 600px;"/>
            <br />
            <br />

            <p>
              When create release apk or bundle file (aab), Application signed with upload key. At first time, coder upload application on Google play, Google generate App signing key which only matchs to upload key of Application. So that, only application signed with this upload key is valid.
            </p>
            <br />

            <p>
              To build apk or bundle file, we use Gradle. Gradle is a build automation tool that is used in Android development, and it is also used in React Native projects for building and packaging Android applications.
            </p>
            <div class="termy" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
              <span data-ty="input">cd android</span>
              <span data-ty="input">./gradlew clean</span>
              <span data-ty="input">./gradlew assembleRelease --stacktrace --no-build-cache</span>
              <span data-ty="input">./gradlew bundleRelease</span>
            </div>
            <br />
            <br />
            <p>
              File apk will be stored in  android/app/build/outputs/apk/release/app-release.apk 
            </p>
            <p>
              While bundle file will be stored in android/app/build/outputs/bundle/release/app-release.aab 
            </p>
            <p>
              However, some old application which nobody maintain or take care uaually have no keystore. Fortunately, Google support update new keystore. 
              <!-- by fill <a target="_blank" href="https://support.google.com/googleplay/android-developer/contact/key?hl=en&authuser=4">this form</a> and attach certificattion of old key on Google play. -->
            </p>
            <img src="{{ STATIC_URL }}images/reset-key.png" alt="Image" style="max-width: 750px;max-height: 600px;"/>
            <br />
            <br />

            <p>
              Just waiting Google reply by mail then follow their steps.
            </p>
            <br />
            <br />

            <p>
              Anothers, Google store have lots of environments, developers need to distinguish between them to suit with goals
            </p>
            <ul>
              <li><p>Internal testing: The app is not visible to the general public on Google Play. The app is only available to a list of people you manually set - you add their emails, and they get an invitation.</p></li>
              <li><p>Closed testing: Same as Internal testing (not publicly visible, has an allow-list), but you get a Google report. Google will test your app and give you feedback.</p></li>
              <li><p>Open testing: Visible to the general public on Google Play, but with a "Pre-release" warning. People can review the app, but the reviews are only visible to you. </p></li>
              <li><p>Production: Visible to the general public. User reviews are public.</p></li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}
