{% extends "layout.html" %} {% load i18n %} {% block extrastylesheet%}
<link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/code.css?ver=1.1.1" rel="stylesheet" />
{% endblock%} {% block extrascript%}
<script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0"></script>
<script src="{{ STATIC_URL }}js/terminal-paypal.js?ver=1.1.0"></script>
{% endblock%} {% block main_content%}

<div class="section">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <p>
                Collation and character set are popular in SQL but not all developers mention to them. They can impact to querying data and performance. In this article, I will show you how to use them and how they impact to your database.
            </p>
            <!-- <img src="{{ STATIC_URL }}images/diff-aiwebp.webp" alt="Image" style="margin-top: 20px; margin-bottom: 20px; max-width: 750px;max-height: 600px;" /> -->
            <script async src="https://www.mycompiler.io/static/js/embedv2.js#id:FUkOrqXO1pH"></script>
            <!-- <script async src="https://www.mycompiler.io/static/js/embedv2.js#id:AYClN2ElmUP"></script> -->
            <p>
              As you can see, we define the collation and character set for the database, table, and column. I'm sure developers define this for thousands of times. But do you know what they are? And how they impact to your database? Let's come up with theory first.
            </p>
            <p>
            <strong>Character</strong> defines how characters are represented as binary data and is used to interpret and store textual information in a database. Common character in MYSQL: utf8mb4(UTF-8  Unicode), latin1, ascii, etc.... We can show all character sets by running the following query.
            </p>
            <p><mark>SHOW CHARACTER SET;</mark></p>
            <p>
            <strong>Collation</strong> refers to the set of rules that govern how string comparison and sorting operations are performed. If collation is not specified, the default collation for the database is used.
            </p>
              <p><mark>SELECT * FROM information_schema.COLLATIONS;</mark></p>
            <p>
              Specially, collations come in different types, such as case-sensitive (CS), case-insensitive (CI), accent-sensitive (AS), and accent-insensitive (AI).
              
            </p>

            <!-- <script async src="https://www.mycompiler.io/static/js/embedv2.js#id:3ZIyv958cWr"></script> -->
            <script async src="https://www.mycompiler.io/static/js/embedv2.js#id:4Db7OPB5zXC"></script>

            <p>
              Look at this, utf8mb4_vi_0900_ai_ci (accent-insensitive and case-insensitive). In here, utf8mb4 is character set, vi is language, 0900 is version, ai is accent-insensitive, ci is case-insensitive.
            </p>
            <img src="{{ STATIC_URL }}images/out-sql.png" alt="Image" style="margin-top: 20px; margin-bottom: 20px; max-width: 750px;max-height: 600px;" />
            <p>
              The results return 2 rows instead of 1 row. This collation makes wrong results when querying data.
            </p>
            <p>
              Main point is when collation is accent-insensitive, it will ignore accents. For example: "a" and "á" are the same. When collation is case-insensitive, it will ignore case. For example: "steve" and "Steve" are the same.
            </p>
            <p>
               To fix that, we need to use utf8mb4_vi_0900_as_cs
            </p>
            <script async src="https://www.mycompiler.io/static/js/embedv2.js#id:4YQkpHU9LeV"></script>
            <img src="{{ STATIC_URL }}images/out-sql2.png" alt="Image" style="margin-top: 20px; margin-bottom: 20px; max-width: 750px;max-height: 600px;" />

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}