


    <footer class="footer">
      <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.linkedin.com/in/hoang-nguyen-4a163b1ba/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
        <a class="cc-twitter btn btn-link " href="https://twitter.com/StevenNguyen96"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" href="https://github.com/huyhoang1996vn"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" title="Coming soon"><i class="fa fa-youtube fa-2x " aria-hidden="true"></i></a>
      </div>
      <div class="h4 title text-center">Steve Nguyen</div>
      <div class="text-center text-muted">
        <p>&copy; Steve CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>