{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet%}
    <link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/code.css?ver=1.1.0" rel="stylesheet">
{% endblock%}

{% block extrascript%}
    <script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0" ></script>
    <script src="{{ STATIC_URL }}js/terminal.js?ver=1.1.0"></script>
{% endblock%}


{% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <p>
              Nowadays, It is apparent that devices are consumed widely with quality and extensions attached. In-App payment is one of the most useful tools in apple services because of clarity and safety in processes. From a developer's perspective, I completely advocate that In-App payment should be broadly integrated in lots of applications on the iPhone and iPad because of these reasons.
            </p>
            <br>
            <p>
              First and foremost, In-App payment is available and supported by Apple. In reality, target customers usually have devices which are totally compatible with this payment. If developers have issues in process, they are easy to deal with giant developer communities as well as consulting from Apple or Google.
            </p>
            <br>
            <p>
              In addition, Backend developers and Mobile developers are willing with In-App payment because of the simple process. For example, react-native-iap library has described in detail what developers need to do. Let’s see:
            </p>
            <img src="{{ STATIC_URL }}images/flow-apple.png" alt="Image"/>
            <br>
            <p>
              There is a heavy workload in library and server Apple/Google but there are no adserties for developers. Before applications in mobile redirect to server Apple/Google, there is a subscription between app and payment flow. When purchars have just been done, apps will detect through the former subscription. Finally, apps intend to send payment results to the server backend. On the server, developers may store transactions in the database. 
            </p>
            <br>
            <p>
              In conclusion, In-App payment has more advantages for customers and developers due to  
              It is uncomplicated and easy to understand.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock%}