<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steve CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/blog_card.css?ver=1.1.1" rel="stylesheet">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="/" rel="tooltip">Steve CV</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#articles">Articles</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#certificate">Certificate</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('{{ STATIC_URL }}images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="/"><img src="{{ STATIC_URL }}images/avatar.jpg" alt="Image"/></a></div>
          <h1 class="h2 title">Steve Nguyen</h1>
          <p class="category text-white">Developer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="{{ STATIC_URL }}pdf/CV-BackEnd-SteveNguyen.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" download>Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/steve-nguyen-4a163b1ba/" target="_blank" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/StevenNguyen96" target="_blank" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/huyhoang1996vn" target="_blank" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Coming soon"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am Steve Nguyen and come from Viet Nam. Web Developer, Python Engineer.</p>
            <p>I am holding a degree in Da Nang University of Technology. I have several years experiences for python developer and a little bit of experiences about developing golang. Mostly, I use Django rest framework in my projects. Recently, I do work with FastAPI and Flask in micro services basis.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">27</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">stevenguyen1996vn@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+84 935 682 466</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Kuala Lumpur, Malaysia</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Hobbies:</strong></div>
              <div class="col-sm-8">Soccer, Gym</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2022 - Present</p>
            <div class="h5">Links Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Full-stack Developer</div>
            <p class="text-justify">
              The product provide clients a tool to manage human office with functions like generate payslip, request a leave, timekeeping, ... We allocate functions to many services and use <span class="bowl">Azure</span> services to deploy. 
              I usually work on portal and azure CLI to manage service like App service, Function app, Storage account, cosmos DB, API management and so on. We are building docker images for our services
              which is as needed to set up kubernetes. Frameworks I used is <span class="bowl">Django</span>, <span class="bowl">NestJS</span>, <span class="bowl">NodeJS</span> to provice API. In django, I also read data from excels fiel by pandas and numpy. 
              <span class="bowl">Reactjs</span> is Frontend framework and <span class="bowl">React native</span> is used on mobile.
            </p>
            <p class="float-left"><a href="https://linksinternational.com/en-vn/" target="_blank">linksinternational.com &rarr;</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2022</p>
            <div class="h5">SmartQA Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Python Developer</div>
            <p class="text-justify">I take part in building project based of <span class="bowl">serverless</span> architecture. The project has functions like trello with manage tasks, assign to member and so on. The project use <span class="bowl">AWS</span> services such as: <span class="bowl">lambda function</span>, SES, Route53, DynamoBD, IotCore, S3, etc... I ofen use AWS SAM and AWS CLI to deploy resources on cloud. </p> 
            <p class="float-left"><a href="https://sqa.jp/en/" target="_blank">sqa.jp &rarr;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2021 - 2022</p>
            <div class="h5">Datatize Crypto Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Python Developer</div>
            <p class="text-justify">Product analyze data from exchanges by storing data and draw on diagrams. Thanks to product, clients can predict and make a decision to buy or sell. To scraping data, we use jobs run on <span class="bowl">Airflow</span> then store data in postgresql. <span class="bowl">Dash</span> is a perfect framework which supports developers query, adujst and draw on diagrams. Besides, I usually incorporate exchange API such as Coinbase, Kraken in project. <span class="bowl">Numpy</span>, <span class="bowl">Pandas</span> are libraries used in adjusting and handling data. Automatically, we deploy by <span class="bowl">Github action CI/CD</span>, then testing by <span class="bowl">unit test</span> and <span class="bowl">selenium test</span>.</p>
            <p class="float-left"> <a href="https://datatize.com/" target="_blank">datatize.com &rarr;</a>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2020 - 2021</p>
            <div class="h5">Umbalena Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Python Developer</div>
            <p class="text-justify">I join hand to build an owner e-book product intended children around the world. This project runs on <span class="bowl">microservices</span> basis. To make it more clearly, my team choose python as main backend language and several frameworks such as <span class="bowl">Django</span>, <span class="bowl">FastAPI</span>, <span class="bowl">Flask</span> and so on. I take responsibility for creating models, exploring technologies and development <span class="bowl">Docker</span>.</p>
            <p class="float-left"> <a href="https://umbalena.vn/" target="_blank">umbalena.vn &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2019 - 2020</p>
            <div class="h5">Thegioigas Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">BackEnd Developer</div>
            <p class="text-justify">Another microservice projects I built, but It is a manager system about providing gas in the middle of Viet Nam. To clarify, we use a new program language as <span class="bowl">Go</span> and <span class="bowl">Python</span> to develop several small projects, that combined to a system in <span class="bowl">kubernetes</span> basis. My ambitions are designing models, discover high-tech and work with <span class="bowl">Docker</span></p>
            <p class="float-left"> <a href="https://thegioigas.vn/" target="_blank">thegioigas.vn &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2018 - 2019</p>
            <div class="h5">Metiz cinema Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Python Developer</div>
            <p class="text-justify">This project helps consumers control a cinema with booking, creating schedule, etc.. My colleague and I start the project about cinema which use <span class="bowl">Django</span> framework. To clarify, I access data through query sql in server. Then, I render page by html, css and jquery with animations.</p>
            <p class="float-left"> <a href="https://metiz.vn/" target="_blank">metiz.vn &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2017 - 2018</p>
            <div class="h5">Helio Project</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">BackEnd Developer</div>
            <p class="text-justify">The first project I joined is website for entertainment center in Da Nang City. We have <span class="bowl">Django Rest Framework</span> to provide API. Moreover, we integrate API from Google and facebook in <span class="bowl">Oauth</span> and <span class="bowl">FCM</span>. We also work with designers to create layout.</p>
            <p class="float-left"> <a href="https://helio.vn/" target="_blank">helio.vn &rarr;</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2019</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">The Degree of Engineer in Information Technology</div>
            <p class="category">Da Nang University of Science and Technology</p>
            <p class="text-justify">I studied at Da Nang University of Science and Technology and graduated in August 2019. My major is Software developer. I have 5 years for learning computer science in higher education.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div

>

<div class="section" id="articles">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Articles</div>
      <!-- <ul>
        <li><p><a target="_blank" href="{% url 'task' %}">{{ request.get_host }}/create-scheduled-tasks-with-cronjob-celery-and-async-in-python.html</p></li>
        <li><p>
          <a target="_blank" href="{% url 'paypal' %}">{{ request.META.HTTP_HOST }}/paypal-payments-integration-guide.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'in_app' %}">{{ request.get_host }}/in-app-payments-integration-guide.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'oauth' %}">{{ request.get_host }}/oauth-and-oauth2-workflow.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'minio' %}">{{ request.get_host }}/amazon-s3-and-minio-object-storage-service.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'unit-test' %}">{{ request.get_host }}/unit-test-selenium-guide.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'pythonanywhere' %}">{{ request.get_host }}/deploy-django-on-pythonanywhere.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'reactnativewithexpo' %}">{{ request.get_host }}/react-native-with-expo.html</a>
        </p></li>
        <li><p>
          <a target="_blank" href="{% url 'publishappandroidgooglestore' %}">{{ request.get_host }}/ish-app-android-google-store.html</a>
        </p></li>
      </ul> -->
        {% include 'blog_card.html' with blogs=blogs  %}

  </div>
</div>

<div class="section" id="certificate">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Certificate</div>
    <div class="h5 text-center mb-4 title">Core language</div>

      <div class="row">
        <!--  data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" -->
        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.sololearn.com/certificates/course/en/2166133/1158/landscape/png" target="_blank">
              <img src="{{ STATIC_URL }}images/python.png" alt="Avatar" style="width:100%">
            </a>
          </div>
          <!-- <div class="container-cert">
            <p class="text-center"><b>python</b></p>
          </div> -->
        </div>
        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.sololearn.com/certificates/course/en/2166133/1060/landscape/png" target="_blank">
            <img src="{{ STATIC_URL }}images/sql.png" alt="Avatar" style="width:100%">
          </a>
          </div>
        </div>
        
        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.sololearn.com/Certificate/CT-6XWTENZ0/png" target="_blank">
              <img src="{{ STATIC_URL }}images/js-sololearn.png" alt="Avatar" style="width:100%">
            </a>
          </div>
        </div>
        
        
        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.hackerrank.com/certificates/d897ee642055" target="_blank">
              <img src="{{ STATIC_URL }}images/js-hacker.png" alt="Avatar" style="width:100%">
            </a>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.hackerrank.com/certificates/ca1877d61c58" target="_blank">
              <img src="{{ STATIC_URL }}images/sql-hacker.png" alt="Avatar" style="width:100%">
            </a>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://www.sololearn.com/certificates/CT-GSRROAW9" target="_blank">
              <img src="{{ STATIC_URL }}images/data-sololearn.png" alt="Avatar" style="width:100%">
            </a>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card-cert ">
            <a href="https://certificates.simplicdn.net/share/3373679_1649402583.pdf" target="_blank">
              <img src="{{ STATIC_URL }}images/ba.png" alt="Avatar" style="width:100%">
            </a>
          </div>
        </div>
        
      </div>
    <div class="h5 text-center mb-4 title">Framework</div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.sololearn.com/Certificate/1097-2166133/jpg" target="_blank">
            <img src="{{ STATIC_URL }}images/react.jfif" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.mindluster.com/student/certificate/266271746" target="_blank">
            <img src="{{ STATIC_URL }}images/native.jpg" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://certificates.simplicdn.net/share/3810102_1664377260.pdf" target="_blank">
            <img src="{{ STATIC_URL }}images/nodejs.png" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.tutorialspoint.com/market/certificate.jsp/TP-3OFO7HTM" target="_blank">
            <img src="{{ STATIC_URL }}images/nestjs.png" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.hackerrank.com/certificates/ca3a049ef94b" target="_blank">
            <img src="{{ STATIC_URL }}images/reactjs_hacker.png" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>

    </div>
    
    <div class="h5 text-center mb-4 title">Cloud</div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://certificates.simplicdn.net/share/3423097_1651423522.pdf" target="_blank">
            <img src="{{ STATIC_URL }}images/aws.png" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://verify.mygreatlearning.com/verify/MOLSEGND" target="_blank">
            <img src="{{ STATIC_URL }}images/d-swarm.png" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.udemy.com/certificate/UC-5881d503-41da-4c92-a08b-7eddf8f6ae73/" target="_blank">
            <img src="{{ STATIC_URL }}images/az-900.jpg" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="card-cert ">
          <a href="https://www.udemy.com/certificate/UC-473e25d0-e56b-4caa-a0fc-7ae17e233bb1/" target="_blank">
            <img src="{{ STATIC_URL }}images/az-204.jpg" alt="Avatar" style="width:100%">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://umbalena.vn" target="_blank">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/um.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Umbalena Project</div>
                      <p>Website and App</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a  href="https://metiz.vn" target="_blank">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/metiz.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Metiz Project</div>
                      <p>Website and App</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="http://thegioigas.vn" target="_blank">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/gas.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Gas Project</div>
                      <p>Website and App</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://helio.vn" target="_blank">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/helio.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Helio Project</div>
                      <p>Website and App</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="graphic-design" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/graphic-design-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Triangle Pattern</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/graphic-design-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Abstract Umbrella</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/graphic-design-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Cube Surface Texture</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/graphic-design-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Abstract Line</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="Photography" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/photography-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/photography-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Wedding Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/photography-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Beach Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="{{ STATIC_URL }}images/photography-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Nature Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">English</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Golang</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Docker</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">React js</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">References</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>
          <li data-target="#cc-Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{{ STATIC_URL }}images/reference-image-1.jpg" alt="Image"/>
                <div class="h5 pt-2">Aiyana</div>
                <p class="category">CEO / WEBM</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{{ STATIC_URL }}images/reference-image-2.jpg" alt="Image"/>
                <div class="h5 pt-2">Braiden</div>
                <p class="category">CEO / Stevem</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{{ STATIC_URL }}images/reference-image-3.jpg" alt="Image"/>
                <div class="h5 pt-2">Alexander</div>
                <p class="category">CEO / Webnote</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('{{ STATIC_URL }}images/map.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/your@email.com" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Kuala Lumpur, Malaysia</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+84 935 682 466</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>steveguyen1996vn@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.linkedin.com/in/steve-nguyen-4a163b1ba/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
        <a class="cc-twitter btn btn-link " href="https://twitter.com/StevenNguyen96"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" href="https://github.com/huyhoang1996vn"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" title="Coming soon"><i class="fa fa-youtube fa-2x " aria-hidden="true"></i></a>
      </div>
      <div class="h4 title text-center">Steve Nguyen</div>
      <div class="text-center text-muted">
        <p>&copy; Steve CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ STATIC_URL }}js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="{{ STATIC_URL }}js/core/popper.min.js?ver=1.1.0"></script>
    <script src="{{ STATIC_URL }}js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="{{ STATIC_URL }}js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="{{ STATIC_URL }}js/aos.js?ver=1.1.0"></script>
    <script src="{{ STATIC_URL }}scripts/main.js?ver=1.1.0"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BBK8BMDTZY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BBK8BMDTZY');
    </script>
  </body>
</html>