{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet%}
    <link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/code.css?ver=1.1.1" rel="stylesheet">
{% endblock%}

{% block extrascript%}
    <script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0" ></script>
    <script src="{{ STATIC_URL }}js/terminal-paypal.js?ver=1.1.0"></script>
{% endblock%}


{% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">

          <p>
            Storage capacities have always been a debating problem amongst developers. Some people still use local storage. However, I hold a trong favor for an Object storage service such as Minio or Amazon S3 (Amazon Simple Storage Service).
          </p>
          <br>
          <p>
            Object storage is unstructured data which people frequently see images, videos and so on. They have a range size from several KB to milition GB. Applications always have to save these files and even pay enormously. Storage assignment is significant.
          </p>
          <p>
            Normally, developers put data files in local storage. There are several disadvantages when doing that. So, developers have considered storage servers. Nowaday, Minio and Amazon S3 are more popular for several reasons.
          </p>
          <h3>
            scalability
          </h3>
          <p>
            Local storage often depends on physical hardware. Once the maximum limit of the local storage is reached, people have to add new space, which does not resist downtime. Conversely, Minio has  virtually unlimited storage. That means, this service allows people to broaden storage anytime without worry. 
          </p>
          <h3>
            high secure
          </h3>
          <p>
            Data stored in your Minio environment is protected from unauthorized access thanks to encryption features and access management tools. hacker can get exact path of file in server.
          </p>
          <h3>policies</h3>
          <p>
            minio even allows creating users and groups. Moreover, Minio has policies to define actions or resources which users can access. Now, teammates can share resources in minio without concerned permissions. 
          </p>
          <h3>Support distribution</h3>
          <p>
            https://docs.min.io/docs/distributed-minio-quickstart-guide.html
            Distribution is essential in the state of the art system, especially micro services. Minio is totally appropriate to this system. However, this is really a bigger topic. I will explain in next post.
          </p>
          <br>
          <p>Let’s create tutorial with minio and python.</p>
          <p>Create minio with docker like that</p>
          <p>
              <img src="{{ STATIC_URL }}images/minio.png" alt="Minio"/>
          </p>
          <br>
          <p>Another Minio image</p>
          <p>
              <img src="{{ STATIC_URL }}images/minio-console.png" alt="Minio Console"/>
          </p>
          <br>
          <p>
            On the other hand, Mino support python completely in the office document https://docs.min.io/docs/python-client-api-reference.html

          developers just follow and enjoy it. For example:
          </p>
          <br>

          <pre>
            <code>
              from minio import Minio
              from config import setting_project # This is my config

              client = Minio(
                  setting_project.minio_url,
                  access_key=setting_project.minio_access_key,
                  secret_key=setting_project.minio_secret_key,
                  secure=setting_project.minio_secure
              )
              found = client.bucket_exists(setting_project.minio_bucket)
              if not found:
                  client.make_bucket(setting_project.minio_bucket)


              // create 
              client.put_object(
                          setting_project.minio_bucket, file_location, file.file, len(byte_file)
                      )
              // get 
              data = client.get_object(setting_project.minio_bucket, path)
            </code>
          </pre>
          <br>
          <br>
          <p>
            In summary, Object storage services get more benefits in handling data. Developers do not bother to scale systems which exceed capacity. OSS also supports distributed very well and completely.
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}