{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet%}
    <link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/code.css?ver=1.1.1" rel="stylesheet">
{% endblock%}

{% block extrascript%}
    <script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0" ></script>
    <script src="{{ STATIC_URL }}js/terminal-paypal.js?ver=1.1.0"></script>
{% endblock%}


{% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <p>Nowaday, clients use lots of applications and websites, which make a
                 concerning problem about complicated authentication. 
                 People do not waste time creating and signing on these platforms repeatedly. 
                 Developers recognize that Oauth is essential. From my viewpoint, 
                 I am persuaded that Oauth can help customers access multiple applications.
            </p>
            <p>
                To begin with, <span class="font-weight-bold">OAuth</span> (Open Authorization) is an open standard for authentication and 
                authorization which is used to provide single sign-on (SSO). 
                <span class="font-weight-bold">SSO</span> is a form term used to describe a scenario in which a user uses 
                the same credentials to log in various domains. People can take in detail 
                on <a href="https://www.miniorange.com/single-sign-on-sso" target="_blank">miniorange.com</a> or in my other posts. There, I pay attention to Oauth, 
                especially <span class="font-weight-bold">Oauth2</span>, which are extremely helpful in developing API services.
            </p>
            <p>
                First and foremost, <span class="font-weight-bold">Oauth2</span> is more popular than Oauth. In reality, Oauth is really complicated and is not essential for authentication. If developers just verify to access multiple applications, <span class="font-weight-bold">Oauth2</span> is sufficient security. For example, expressing workflow Oauth is that.
            </p>

              <img class="minio-image center" src="{{ STATIC_URL }}images/oauth.png" alt="Oauth"/>
            <p></p>

            <p>
              As you see, this process has 8 steps, which is tough for developers while <span class="font-weight-bold">Oauth2</span> is more useful with only 6 steps 
            </p>
            <p>
              <img class="minio-image center" src="{{ STATIC_URL }}images/oauth2-workflow.png" alt="Oauth2"/>
            </p>
            <p></p>

            <p>
              As you see, I can predict common questions like Why need authorization grant?,  why not return access grant at first? I will reply in the next post.
            </p>
            <p>
              Second, giant technology companies have just <span class="font-weight-bold">Oauth2</span>  and have written detail documents. For example, developers can figure out on <a href="https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/" target="_blank">Facebook Oauth2</a>  and <a href="https://developers.google.com/identity/protocols/oauth2" target="_blank">Google Oauth2</a> . Saving time, I can only express a general flow like this 
            </p>
            <p>
              <img class="minio-image center" src="{{ STATIC_URL }}images/google-facebook.png" alt="Oauth2"/>
            </p>
            <p></p>

            <p>To prevent a long post. I will describe a tutorial in next post.</p>
            <p></p>
            <p>
              In conclusion, developers have a deep understand Oauth about meaning and workflow. I believe that Oauth will bring more advantages to access multi platforms. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}