{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet%}
    <link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/code.css?ver=1.1.1" rel="stylesheet">
{% endblock%}

{% block extrascript%}
    <script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0" ></script>
    <script src="{{ STATIC_URL }}js/terminal-paypal.js?ver=1.1.0"></script>
{% endblock%}


{% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <p>
            These days, it is obvious that online payment is widely considered as a topic of concern for the whole society in general and for the developer community in particular. Paypal is the faster and safer way to make an online payment. There are two solutions supported by paypal to let developers know when orders are completed. They are <strong>webhook paypal</strong> and <strong>api payment paypal</strong>. From my personal perspective, I am totally convinced that api payment paypal should be integrated in API services.
            </p>
            <p>
              On the one hand, <strong>webhook paypal</strong> is automated events which server paypal calls specified api. For example, when customers check out several items on a website and completely pay orders in paypal, server paypal intends to send a request to the website. Thanks for this notification, the website determines when orders are paid and updated in the database. Webhook is the same with ipn (instant payment notification) in the old system.
            </p>
            <p>
              People are really genius at understanding documents about webhook in paypal. To don’t waste time, I will describe it in short. 
              
              You have to make a webhook.
              <ol>
              <li>
              <p>Log in to the <a href="https://developer.paypal.com/developer/applications" target="_blank" pa-marked="1">Developer Dasbhoard</a>.</p>
              </li>
              <li>
              <p><a href="https://developer.paypal.com/docs/api/overview/#get-credentials" target="_blank" pa-marked="1">Create an app</a> to generate your API credentials and subscribe to webhook events. If you already have an app, proceed to the <a href="#step-3" pa-marked="1">next step</a>.</p>
              </li>
              <li>
              <p><a id="step-3" pa-marked="1"></a>In the REST API apps section, click the link for the app to which you want to subscribe events.</p>
              </li>
              <li>
              <p>In the webhooks section, click Add Webhook.</p>
              </li>
              </ol>
            </p>
            <p>For example</p>
            <img src="{{ STATIC_URL }}images/webhook.png" alt="Image"/>
          <p></p>
          <p>Developers can make a test by <a href="https://developer.paypal.com/developer/webhooksSimulator" target="_blank" >Webhooks Simulator Paypal</a></p>
          <img src="{{ STATIC_URL }}images/send-webhook.png" alt="Image"/>
          <p></p>
          <p>
            However, when server paypal sends a request to the website, it may waste under several minutes or lots of hours. This is a disadvantage, developers do not know when a purchase is successful to store in Database.
          </p>
          <br>
          <p>
            On the other hand, I totally advocate that <strong>api payment paypal</strong> is the best option in the payment paypal process. This opinion is held because this approach can fix the former problem. To clarify, when customers successfully pay in paypal.com and return to the website, the server website will detect payment information. Instead of waiting for paypal send notification, the server website intends to find the order by api payment paypal. If the order is found and verified, the server website is going to complete the order and store it in the database.
          </p>

          <p>
            It is in theory. Now, I do it in practice.
            People can check by field: paymentId. Then,  people can verify an order by payerID and compare it with the status order in the database.
          </p>
          <p>
            First, people should have a token to call <strong>api payment paypal</strong>  in <a href="https://developer.paypal.com/docs/platforms/get-started/" target="_blank" >PayPal Oauth2 API</a>
          </p>
            <!-- <img src="{{ STATIC_URL }}images/get-token.png" alt="Image"/> -->
            <div class="termy" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="1000">
              <span data-ty="input">curl -v POST https://api-m.sandbox.paypal.com/v1/oauth2/token \</span>
              <span data-ty>-H "Accept: application/json" \</span>
              <span data-ty>-H "Accept-Language: en_US" \</span>
              <span data-ty>-u "CLIENT_ID:SECRET" \</span>
              <span data-ty>-d "grant_type=client_credentials"</span>
            </div>
          <br>
          <p>Second, people find order by api <a href="https://developer.paypal.com/docs/integration/direct/payments/paypal-payments/" target="_blank" >PayPal Payments API</a></p>
            <!-- <img src="{{ STATIC_URL }}images/find-paypal.png" alt="Image"/> -->
            <div class="termy1" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="1000">
              <span data-ty="input">curl -v POST https://api-m.sandbox.paypal.com/v1/oauth2/token \</span>
              <span data-ty>-H "Accept: application/json" \</span>
              <span data-ty>-H "Accept-Language: en_US" \</span>
              <span data-ty>-u "CLIENT_ID:SECRET" \</span>
              <span data-ty>-d "grant_type=client_credentials"</span>
            </div>
          <br>
          <p>
            Fortunately, instead of calling these api directly, I appreciate a library in github <a href="https://github.com/paypal/PayPal-Python-SDK" target="_blank">PayPal-Python-SDK</a> . Enjoy it!
          </p>
          <p>
            As a result, all the standpoints lead to a firm opinion that <strong>api payment paypal</strong>  will helps developers accomplish payment function with available libraries.
          </p>
      </div>
    </div>
  </div>
</div>

{% endblock%}