{% extends "layout.html" %}
{% load i18n %}
{% block extrastylesheet%}
    <link href="{{ STATIC_URL }}css/termynal.css?ver=1.1.0" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/code.css?ver=1.1.0" rel="stylesheet">
{% endblock%}

{% block extrascript%}
    <script src="{{ STATIC_URL }}js/termynal.js?ver=1.1.0" ></script>
    <script src="{{ STATIC_URL }}js/terminal.js?ver=1.1.0"></script>
{% endblock%}


{% block main_content%}

<div class="section" id="code">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card-body">
            <!-- <div class="h4 mt-0 title">Create scheduled task with cronjob, celery and async in python </div> -->
            <p>
            Nowadays, scheduled actions have always been a debating topic amongst python developers. Some people  are convinced that <span class="bowl">celery</span> or <span class="bowl">cronjob</span> is the best in creating scheduled jobs. However, I advocate the idea that <span class="bowl">repeated tasks</span> in FastAPI or Flask are more suitable for API services.
          </p>
            <p>

          <span class="bowl">Cronjob</span> 's Ubuntu system is a solution I got exposed to at first. It gives you a simple setting with commands and people can get lots of tutorials in the community. However, If developers want a stable process or track details, cronjob is not a good option. Let's go to terminal.
          </p>

          <div class="termy" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
              <span data-ty>To create conjob</span>
              <span data-ty="input">crontab -e</span>
              <span data-ty>Edit opened file</span>
              <span data-ty="input">0 0 * * * python /path/to/project/manage.py send_newsletter > /var/log/cronjob.log 2>&1</span>
              <span data-ty>Created conjob</span>
              <span data-ty="input">crontab -l</span>
              <span data-ty>To show current cronjob</span>
          </div>
          <p>
            0 0 * * * is time which cronjob run. Developers can check syntax scheduled time on website <a href="https://crontab.guru/#0_0_*_*_*">crontab.guru</a>
          </p>
          <p>

          Now, I introduce other solutions for this problem which i have tried. They totally replace cronjob.
          </p>

            <p>
          On the one hand, <span class="bowl">Celery</span> is an effective answer for scheduled processes. Firstly, It is a long-standing process. To clarify, celery is a large library integrated with many frameworks such as django. So, it has been certificated by the community in the long time. Secondly, there are lots of functions such as logger, task, and consumption in micro services. Nevertheless, there must be another process to run celery. It means developers have two processes, one for website api and one for celery. For example.
          </p>

          <div class="termy1" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
              <span data-ty="input">pip install django-celery-results</span>
              <span data-ty="progress"></span>
              <span data-ty>Installed celery</span>
              <span data-ty>Add django_celery_results to INSTALLED_APPS</span>
              <span data-ty>INSTALLED_APPS = (
                  ...,
                  'django_celery_results',
              )</span>
              <span data-ty="input">python manage.py migrate django_celery_results</span>
              <span data-ty>Successfully installed celery</span>
          </div>
          <p>Configure Celery to use the django-celery-results backend.</p>
          <pre>
            <code>
          CELERY_BROKER_URL = 'redis://localhost:6379'
          CELERY_RESULT_BACKEND = 'redis://localhost:6379'
          CELERY_ACCEPT_CONTENT = ['application/json']
          CELERY_RESULT_SERIALIZER = 'json'
          CELERY_TASK_SERIALIZER = 'json'
            </code>
          </pre>

            <p>
          On the other hand, from my personal perspective, I would completely contend that <span class="bowl">Repeated tasks</span> in FasiAPI or Flask get more benefit than others. First and foremost, It is easy to config and deep understand. In fact, people can figure out how it really works in framework documents. Furthermore, there are no other processes like the former solution. Service api and repeated tasks can run in the sole process due to they effect by async in python language. However, it can solve complicated problems.
          </p>

          <div class="termy2" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
              <span data-ty="input">pip install fastapi-utils</span>
              <span data-ty="progress"></span>
              <span data-ty>Installed fastapi-utils</span>
          </div>

          <p>There is a simple example in FastAPI.</p>
          <pre>
            <code>
              from fastapi import FastAPI
              <code class="highlight">from fastapi_utils.tasks import repeat_every</code>

              app = FastAPI()

              @app.on_event("startup")
              <code class="highlight">@repeat_every(seconds=60 * 60)  # 1 hour</code>
              def remove_expired_tokens_task() -> None:
                  # Do some thing ...
            </code>
          </pre>
            <p>
          In conclusion, It is my view that <span class="bowl">Repeated Task</span> in FastAPI or Flask is priority method for handing a scheduled task
          </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock%}


         <!--  <div id="termynal" data-termynal data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
              <span data-ty="input">crontab -e</span>
              <span data-ty="progress"></span>
              <span data-ty>Successfully installed spacy</span>
              <span data-ty></span>
              <span data-ty="input">python -m spacy download en</span>
              <span data-ty="progress"></span>
              <span data-ty>Installed model 'en'</span>
              <span data-ty></span>
              <span data-ty="input">python</span>
              <span data-ty="input" data-ty-prompt=">>>">import spacy</span>
              <span data-ty="input" data-ty-prompt=">>>">nlp = spacy.load('en')</span>
              <span data-ty="input" data-ty-prompt=">>>">doc = nlp(u'Hello world')</span>
              <span data-ty="input" data-ty-prompt=">>>">print([(w.text, w.pos_) for w in doc])</span>
              <span data-ty>[('Hello', 'INTJ'), ('world', 'NOUN')]</span>
          </div> -->